.bg{
    background-image: url('../../../public/images/bgpic.jpg');
    width: 100vw;
    height: 100vh; 
    background-size:cover;
    background-repeat: no-repeat;
}
nav{
    font-size: 1.3vi;
    
}
.nav-link
{
    color: white;
    position: static;
}
.nav-link:hover,.nav-link:focus{
    color: white;
    /* font-size: 1.4vi; */
    text-decoration: underline;
    text-shadow: 0px 0px 5px white;
    
}
.navbar-brand
{
    color: white;
    font-size: 1.5vi;
    margin-right: 24vi;
}
.navbar-brand:hover
{
    color: white;
    text-shadow: 0px 0px 5px white;
}
.toggler-btn{
    color: white;
}